
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FIX NAVBAR OVERLAP */
body{
  padding-top:95px;
  font-family:Poppins, sans-serif;
}

/* CONTAINER */
.container{
  width:90%;
  max-width:1472px;
  margin:auto;
}

/* LOGO */
.logo-img{
  height:42px;
}

/* NAVBAR */
.nav-link{
  font-weight:500;
  margin:0 12px;
  transition:0.3s;
}

.nav-link.active{
  color:#FF5C2A !important;
}

.nav-link:hover{
  color:#FF5C2A !important;
}

/* CONTACT BUTTON */
.contact-btn{
  background:#FF5C2A;
  color:#fff;
  padding:10px 20px;
  border:none;
  transition:0.3s;
}

.contact-btn:hover{
  transform:translateY(-3px);
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* ================= INSTRUCTOR SECTION ================= */

.instructor-title{
  padding:40px 0;
  background:white
}

.instructor-hero{
  background:white;
  padding:60px 0;
}

.hero-img{
  border-radius:12px;
}

.mini{
  font-size:12px;
  letter-spacing:2px;
}

.hero-heading{
  font-weight:700;
  margin:10px 0;
}

.hero-text{
  color:#666;
}

/* HERO BUTTON */
.orange-btn{
  background:#FF5C2A;
  color:#fff;
  padding:12px 22px;
  border:none;
  margin-top:15px;
  transition:0.3s;
}

.orange-btn:hover{
  transform:translateY(-3px);
  box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* TEAM TEXT */
.team-text{
  background:white;
  padding:60px 0 20px;
}

.team-text h3{
  font-weight:700;
}

.team-text span{
  color:#FF5C2A;
}

.team-desc{
  color:#777;
  margin-top:10px;
}

/* TEAM MEMBERS */
.team-members{
  background:white;
  padding-bottom:60px;
}

.team-members img{
  border-radius:6px;
  margin-bottom:10px;
}

/* CARD HOVER */
.member-card{
  transition:0.3s;
}

.member-card:hover{
  transform:translateY(-8px);
}

.team-members h6{
  font-weight:700;
  margin:5px 0 0;
}

.team-members span{
  font-size:13px;
  color:#777;
}

/* RESPONSIVE HERO */

@media(max-width:992px){
  .hero-heading{
    font-size:26px;
  }

  .instructor-hero{
    text-align:center;
  }

  .hero-img{
    margin-bottom:25px;
  }
}

@media(max-width:768px){
  .team-text h3{
    font-size:20px;
  }
}

/* CTA BANNER */

.cta-banner{
  background:url("./images/background.png");
  background-size:cover;
  background-position:center;
  padding:100px 0;
  color:#fff;
}

.cta-text{
  font-size:36px;
  font-weight:700;
}

.cta-btn{
  background:#FF5C2A;
  color:#fff;
  padding:14px 28px;
  border:none;
  font-weight:600;
  transition:0.3s;
}

.cta-btn:hover{
  background:#000;
  transform:translateY(-3px);
}

/* CTA RESPONSIVE */

@media(max-width:992px){
  .cta-text{
    font-size:28px;
    text-align:center;
    margin-bottom:20px;
  }
}

@media(max-width:576px){
  .cta-text{
    font-size:22px;
  }

  .cta-banner{
    padding:70px 0;
  }
}

/* ================= FOOTER ================= */

.footer{
  background:#050517;
  color:#fff;
  padding-top:70px;
}

.footer-container{
  width:90%;
  max-width:1200px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  gap:40px;
  flex-wrap:wrap;
}

.footer-col{
  flex:1;
  min-width:180px;
}

.logo{
  color:#ffd400;
  margin-bottom:15px;
}

.footer-about p{
  font-size:13px;
  color:#FFFFFF;
  width:80%;
}

.footer-col h3{
  margin-bottom:20px;
  font-size:18px;
  letter-spacing:1px;
}

.footer-nav{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.footer-nav a{
  text-decoration:none;
  color:#cfcfcf;
  font-size:13px;
  transition:0.3s;
}

.footer-nav a:hover{
  color:#fff;
}

.social-links{
  margin-top:20px;
}

.social-links a{
  margin-right:18px;
  font-size:12px;
  color:#cfcfcf;
  text-decoration:none;
}

.social-links a:hover{
  color:#fff;
}

.subscribe{
  font-size:12px;
  color:#cfcfcf;
  margin-top:10px;
}

.footer-bottom{
  border-top:1px solid #2a2a40;
  text-align:center;
  padding:20px 0;
  margin-top:50px;
}

.footer-bottom p{
  font-size:13px;
  color:#cfcfcf;
}

.footer-bottom a{
  color:#fff;
  text-decoration:none;
}

/* FOOTER RESPONSIVE */

@media (max-width:1200px){
  .footer-container{
    width:92%;
  }
  .footer-about p{
    width:100%;
  }
}

@media (max-width:992px){
  .footer-col{
    flex:45%;
  }
}

@media (max-width:768px){
  .footer{
    padding-top:50px;
  }

  .footer-container{
    flex-direction:column;
    gap:35px;
  }

  .footer-col{
    width:100%;
  }
}

@media (max-width:480px){
  .footer-col h3{
    font-size:15px;
  }

  .footer-bottom p{
    font-size:12px;
  }
}